@use "boilerplate" as *;

/* HERO SECTION */

.container-fluid {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/Img/hero-bg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero-section {
  width: 80%;
  display: grid;
  place-items: center;
  margin-top: 1.25rem;

  .hero_title {
    font-size: clamp(2rem, 0.5rem + 5vw, 4rem);
    line-height: 1.1;
    margin-bottom: 0.8rem;
    max-width: 680px;
  }

  .hero-create {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.1;
    margin-top: 1.25rem;
  }

  .hero-create-form {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0;
    max-width: 100%;
  }
  @media only screen and (max-width: 640px) {
    .hero-create-form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
  .hero-create-form input {
    min-height: 2rem;
    max-width: 100%;
    padding: 1.25rem 0.5rem;
  }
  .hero-create-form button {
    min-height: 2rem;
    background-color: $Red;
    color: #fff;
    padding: 0.8rem 1.25rem;
    border: none;
    font-size: clamp(1rem, 0.3rem + 2vw, 1.25rem);
    font-weight: 600;
  }
  @media only screen and (max-width: 640px) {
    .hero-create-form button {
      padding: 0.25rem 0;
    }
  }
}
